<div class="create-account-container">
  <h2>Create an Account</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Username" formControlName="username" />
    <input type="text" placeholder="Email" formControlName="email" />
    <input type="password" placeholder="Password" formControlName="password" />
    <button type="submit">Sign Up</button>
  </form>
  <!-- 
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p> -->

  <div class="existing-account-link">
    <p>Already have an account? <a routerLink="/profile">Login here</a></p>
  </div>
</div>
