.login {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 70%;
  min-width: 250px;
  padding: 15px;
  padding-bottom: 0;
  max-width: 300px;
}

.email,
.password,
.confirmPassword {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

label {
  padding-left: 10px;
  font-size: 20px;
  font-family: var(--body-font);
}

input {
  height: 25px;
  padding-left: 10px;
  font-size: 15px;
  font-family: var(--body-font);
}

h1,
h1 {
  text-align: center;
  font-family: var(--header-font);
  margin-bottom: 0px;
}

.loginButton {
  height: 40px;
  width: 200px;
  border-radius: 7px;
  border: 1px solid black;
  font-size: 20px;
  font-family: var(--body-font);
  margin: 25px auto;
  background-color: var(--logo-color);
  color: white;
}

p {
  margin: 0;
}

.createAccount {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.createAccountLink,
.forgotPasswordLink {
  margin: auto;
}

.createAccountLink:hover,
.forgotPasswordLink:hover {
  cursor: pointer;
  font-size: 17px;
}

.createAccount a:visited {
  color: black;
}

.createAccount a {
  text-decoration: none;
}

.forgotPasswordLink {
  padding-bottom: 5px;
}

.profile-container button {
  margin-top: 20px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid var(--logo-color);
  color: var(--logo-color);
  border-radius: 7px;
  cursor: pointer;
  height: 40px;
  width: 200px;
}

.profile-container p {
  font-size: 19px;
}

.profile-container h1 {
  padding-bottom: 20px;
}

.orderHistory {
  padding: 20px 0;
}

.orderHistory h2 {
  margin-bottom: 10px;
}

.profile-body {
  padding: 10px;
  min-height: 400px;
}

.logout-container {
  display: flex;
  justify-content: center;
}

.email h2 {
  margin: 0;
}

@media (min-width: 600px) {
  .profile-body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column: 1/4;
  }

  h1 {
    grid-column: 1/4;
  }

  .login {
    grid-column: 2/3;
  }

  .createAccount {
    grid-column: 2/3;
  }

  .login {
    max-width: none;
  }

  label {
    font-size: 24px;
  }

  .orderHistory {
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 0;
    justify-self: center;
  }

  .profile-container h2 {
    margin: 0;
  }

  .logout-container {
    grid-column: 1/4;
    padding-top: 20px;
  }

  .email {
    padding: 0;
  }

  .email-container {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 5vw;
  }
}

@media (min-width: 992px) {
  .profile-container {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }

  h1 {
    font-size: 40px;
    grid-column: 1/5;
  }

  input {
    height: 30px;
    font-size: 20px;
  }

  label {
    font-size: 25px;
  }

  .email-container {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
  }

  .orderHistory {
    grid-column: 3/4;
    margin: auto;
  }

  .profile-container {
    justify-content: space-evenly;
  }

  .logout-container {
    grid-column: 1/5;
    margin-top: 20px;
  }
}
