.password-reset-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 70%;
  min-width: 250px;
  padding: 15px;
  padding-bottom: 0;
  max-width: 300px;
  min-height: 400px;
}

.password-reset-container h2 {
  font-family: var(--header-font);
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px;
}

.password-reset-container form {
  display: flex;
  flex-direction: column;
}

.password-reset-container label {
  font-size: 20px;
  font-family: var(--body-font);
  padding-left: 10px;
}

.password-reset-container input {
  height: 35px;
  padding-left: 10px;
  font-size: 15px;
  font-family: var(--body-font);
  border-radius: 5px;
  border: 1px solid #ccc;
}

.password-reset-container button[type="submit"] {
  height: 40px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid black;
  font-size: 18px;
  font-family: var(--body-font);
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-reset-container button[type="submit"]:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.password-reset-container p {
  text-align: center;
  margin: 0;
}

.password-reset-container .error {
  color: red;
  font-size: 16px;
  text-align: center;
}

.password-reset-container .success {
  color: green;
  font-size: 16px;
  text-align: center;
}

.password-reset-container button {
  margin-top: 20px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid var(--logo-color);
  color: var(--logo-color);
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-reset-container button:hover {
  background-color: var(--logo-color);
  color: white;
}

.returnToLogin {
  cursor: pointer;
  margin: 5px auto;
  padding-top: 20px;
  font-family: var(--body-font);
  font-size: 18px;
}

.returnToLogin:hover {
  font-size: 19px;
}

/* Responsive Design */
@media (min-width: 600px) {
  .password-reset-container {
    width: 50%;
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .password-reset-container h2 {
    font-size: 32px;
  }

  .password-reset-container input {
    height: 40px;
    font-size: 18px;
  }

  .password-reset-container button[type="submit"] {
    font-size: 20px;
  }
}
