<div class="about-body">
  <h1>About Us!</h1>
  <p id="firstPar">
    Our business began around October of 2023. My passion for crocheting started
    when I found out I was pregnant with our sweet baby girl. I was determined
    to learn how to crochet her all sorts of toys. Our collection of toys began
    to grow and my yarn stash began to dwindle. With a baby on the way, I knew I
    wouldn't have the resources to keep up with my growing craft. That’s when I
    decided to turn my hobby into something more by sharing my creations with
    others!
  </p>
  <p id="secondPar">
    I wanted to offer the same joy and creativity I found in making these toys
    to other families, all while continuing to do what I love.
    KnotandStitchCrochet was created to allow me to share my handmade plushies
    as well as the patterns I created for other crochet enthusiasts to do the
    same.
  </p>
  <p id="thirdPar">
    Our journey began on Etsy, and for a while, it worked great! It offered a
    simple way to manage our shop and connect with customers. However, as our
    business grew, we realized we wanted more creative freedom. As software
    engineering majors, we saw the perfect opportunity to create an independent
    website for our shop as part of our senior project. This new platform allows
    us to not only expand our business but also apply our skills and passion in
    a meaningful way.
  </p>
  <img id="family-photo" src="family-photo.webp" width="550" height="auto" />

  <!-- <div class="about-text">
        <h1>About Us!</h1>
        <p> Our business began around October of 2023. My passion for crocheting started when I found out I was pregnant with our sweet baby girl. 
            I was determined to learn how to crochet her all sorts of toys. Our collection of toys began to grow and my yarn stash began to dwindle. 
            With a baby on the way, I knew I wouldn't have the resources to keep up with my growing craft. That’s when I decided to turn my 
            hobby into something more by sharing my creations with others!
            <br><br>
            I wanted to offer the same joy and creativity I found in making these toys to other families, all while continuing to do what I love. KnotandStitchCrochet
            was created to allow me to share my handmade plushies as well as the patterns I created for other crochet enthusiasts to do the same. 
            <br><br>
            Our journey began on Etsy, and for a while, it worked great! It offered a simple way to manage our shop and connect with customers. However, as our business
            grew, we realized we wanted more creative freedom. As software engineering majors, we saw the perfect opportunity to 
            create an independent website for our shop as part of our senior project. This new platform allows us to not only expand our business but also apply our 
            skills and passion in a meaningful way. 

            <img id="family-photo" src="family-photo.webp" width="550" height="auto">
        </p>
    </div> -->
</div>
