<header>
  <img
    class="logo"
    src="logo.png"
    alt="KnotandStitchCrochet Logo"
    height="75px"
    width="auto"
  />
  <nav class="header-nav">
    <ul [class.active]="menuOpen">
      <li>
        <a
          (click)="toggleMenu()"
          routerLink="/homepage"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li>
        <a (click)="toggleMenu()" routerLink="/shop" routerLinkActive="active"
          >Shop</a
        >
      </li>
      <li>
        <a (click)="toggleMenu()" routerLink="/about" routerLinkActive="active"
          >About</a
        >
      </li>
      <li id="contactli">
        <a
          (click)="toggleMenu()"
          routerLink="/contact"
          routerLinkActive="active"
          >Contact Us</a
        >
      </li>
    </ul>
  </nav>
  <div class="header-icons">
    <a routerLink="/profile" routerLinkActive="active" class="header-icon">
      <img class="profile" src="user.png" height="40px" width="auto" />
    </a>
    <a routerLink="/cart" routerLinkActive="active" class="header-icon">
      <img class="cart" src="shopping-cart.png" height="40px" width="auto" />
    </a>
    <a (click)="toggleMenu()" class="header-icon">
      <img
        class="hamburger"
        src="hamburger.png"
        alt="Menu"
        height="35px"
        width="auto"
      />
    </a>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <img
    class="logo"
    src="logo.png"
    alt="KnotandStitchCrochet Logo"
    height="75px"
    width="auto"
  />
  <ul>
    <li><a routerLink="/homepage" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
  </ul>
  <ul>
    <li><a>Shop Policies</a></li>
    <li><a>FAQs</a></li>
    <li><a>Attributions</a></li>
  </ul>
  <div class="social-links">
    <a
      class="social-link"
      id="etsy"
      ref="https://www.etsy.com/shop/KnotandStitchCrochet"
      target="_blank"
      aria-label="Check us out on Etsy"
    >
      <img src="etsy.png" alt="Etsy Logo" height="75px" width="auto" />
    </a>
    <a
      class="social-link"
      id="facebook"
      href="https://www.facebook.com/"
      target="_blank"
      aria-label="Follow us on Facebook"
    >
      <img src="facebook.png" alt="Facebook Logo" height="75px" width="auto" />
    </a>
    <a
      class="social-link"
      id="instagram"
      href="https://www.instagram.com/knotandstitchcrochet/"
      target="_blank"
      aria-label="Follow us on Instagram"
    >
      <img
        src="instagram.png"
        alt="Instagram Logo"
        height="75px"
        width="auto"
      />
    </a>
  </div>
  <p>&copy; 2024 KnotandStitchCrochet</p>
</footer>
