/* Smallest screen is 320px */
.logo {
  border-radius: 50%;
}
header {
  background-color: var(--main-color);
  margin: 0;
  display: flex;
  color: #fff;
  padding: 1rem;
}

#contactli {
  padding-right: 0;
}

header .logo {
  min-width: 6rem;
  max-width: 10rem;
  width: 35%;
  height: auto;
  padding: 0 8%;
}
.hamburger {
  margin-top: 5px;
}
.cart,
.hamburger,
.profile {
  padding: 0 2%;
}
.header-icons {
  display: flex;
  justify-content: right;
  width: 100%;
  padding-left: 20px;
  margin: auto 3%;
}
nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.header-nav ul {
  display: none;
}
li {
  list-style-type: none;
  padding: 0.5rem;
  text-wrap: nowrap;
}
a {
  text-decoration: none;
  color: #000;
  font-family: var(--header-font);
}
p {
  font-family: var(--body-font);
}
footer {
  background-color: var(--main-color);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  position: relative;
  font-size: 20px;
}
footer .logo {
  display: none;
}
footer p {
  text-align: center;
  margin: 0;
  padding: 10px;
  grid-column: 1/3;
}
footer a {
  max-height: 75px;
  display: block;
  width: auto;
}
.social-links {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 20px;
}
.social-links::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 7%;
  right: 7%;
  height: 1px;
  background-color: #000;
}
.social-link {
  padding: 0.5rem;
  width: 100%;
}
footer img {
  width: 50px;
  height: auto;
  padding: 1rem;
}
footer ul {
  margin: 0 0 20px 0;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer ul:last-of-type {
  position: relative;
}
footer ul:last-of-type::before {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  bottom: 30px;
  width: 1px;
  background-color: #000;
}

@media (min-width: 600px) {
  .header-nav ul {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: auto 2fr 140px;
  }
  .header-icons {
    margin: 0;
    padding: 0 0 0 10px;
    justify-content: space-evenly;
    align-items: center;
  }
  .header-nav {
    width: 100%;
    padding: 0 10px;
  }
  .header-nav ul {
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    font-size: var(--header-font-size);
  }
  li {
    font-weight: 350;
  }
  header .logo {
    max-width: 120px;
    width: 100%;
  }
  footer {
    grid-template-columns: 150px 1fr 1fr;
  }
  footer .logo {
    display: block;
    padding: 2rem;
    width: 100%;
    max-width: 180px;
    height: auto;
  }
  .social-links,
  .social-links::before,
  footer p {
    grid-column: 1/4;
  }
}
@media (min-width: 992px) {
  header .logo {
    width: 100%;
    max-width: 135px;
    height: auto;
  }
  header li {
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  footer {
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--main-color);
    width: 100%;
    margin-top: 2rem;
  }
  footer ul:first-of-type {
    align-content: center;
    border-bottom: 1px solid #000;
    grid-row: 1/2;
    box-sizing: border-box;
    padding: 15px 0 0 0;
  }
  footer .logo {
    width: 100%;
    max-width: 160px;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
  }
  footer p {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
  }
  footer ul {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 0 1rem;
    width: 70%;
    margin: 0 auto;
    font-size: 25px;
  }
  footer li {
    padding: 15px;
  }
  footer a {
    max-height: 75px;
    display: block;
    width: auto;
  }
  .social-link {
    grid-column: 3/4;
    padding: 0.15rem;
    width: 100%;
  }
  footer img {
    width: 55px;
    height: auto;
    padding: 1rem;
  }
  .social-links {
    display: grid;
    grid-row: 1/4;
    grid-column: 3/4;
    padding: 20px;
  }
  .social-links::before,
  footer ul:last-of-type::before {
    content: none;
  }
  #etsy {
    grid-column: 1/2;
  }
  #facebook {
    grid-column: 2/3;
  }
  #instagram {
    grid-column: 2/3;
  }
}
