<nav>
  <ul>
    <li><a routerLink="/homepage" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  <ul>
    <li><a routerLink="/homepage" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
  </ul>
  <a href="https://www.etsy.com/shop/KnotandStitchCrochet" target="_blank" aria-label="Check us out on Etsy">
    <img src="etsy-logo.png" alt="Etsy Logo" height="75px" width="auto">
  </a>
  <a href="https://www.facebook.com/" target="_blank" aria-label="Follow us on Facebook">
    <img src="facebook-logo.png" alt="Facebook Logo" height="75px" width="auto">
  </a>
  <a href="https://www.instagram.com/knotandstitchcrochet/" target="_blank" aria-label="Follow us on Instagram">
    <img src="instagram-logo.png" alt="Instagram Logo" height="75px" width="auto">
  </a>
  <p>&copy; 2024 KnotandStitchCrochet</p>
</footer>
