<div>
  <h1>Contact Us</h1>
  <p>
    If you have any questions, comments, or concerns, please reach out to us!
    <br />Just fill out this form and we will get in touch with you as soon as
    possible:
  </p>

  <form>
    <div class="name">
      <label for="name">Name</label>
      <input type="text" name="name" />
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input type="text" name="email" />
    </div>
    <div class="reason">
      <label for="reason">Reason for Contact</label>
      <input type="text" name="reason" />
    </div>
    <div class="message">
      <label for="message">Message</label>
      <textarea type="text" name="message" rows="20" cols="auto"></textarea>
    </div>
  </form>
</div>
