h2 {
  font-family: var(--header-font);
  text-align: center;
}

.featured-listings  {
  margin: auto;
  width: 65%;
  height: auto;
  font-family: var(--body-font);
}

.featured-listings img {
  display: flex;
  margin: auto;
  object-fit: cover;
  padding-top: 3rem;
  width: 100%;
}

@media (min-width: 600px) {
  .featured-listings {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .featured-listings img {
    display: flex;
    max-height: 500px;
    width: 300px;
  }
}

@media (min-width: 992px) {

}
