h2 {
  font-family: var(--header-font);
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 0;
  font-size: 1.75rem;

}

.featured-listings  {
  margin: auto;
  width: 65%;
  height: auto;
  font-family: var(--body-font);
}

.featured-listings img {
  display: flex;
  margin: auto;
  object-fit: cover;
  padding-top: 2rem;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
 

  .featured-listings {
    display: flex;
    column-gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .featured-listings img {
    display: flex;
    max-height: 500px;
    width: 300px;
  }
}

@media (min-width: 992px) {
   h2 {
    font-size: 2rem;
  }
}
