<div class="cart-page" *ngIf="cartItems.length > 0; else emptyCart">
  <div class="pattern-downloads" *ngIf="isCheckoutComplete">
    <p>Thank you for your purchase! You can now download the pattern(s).</p>
    <div *ngIf="purchasedPatterns.includes('Crochet Headband Pattern')">
      <a href="/patterns/BabyHeadbandPattern.pdf" download="BabyHeadbandPattern.pdf">Download Baby Headband Pattern</a>
    </div>
    <div *ngIf="purchasedPatterns.includes('Crochet Snowball Pattern')">
      <a href="/patterns/CrochetSnowballPattern.pdf" download="CrochetSnowballPattern.pdf">Download Snowball Pattern</a>
    </div>
  </div>
  <h3>Your cart has {{ cartItems.length }} item(s).</h3>
  <p id="order-total">Total: ${{ getTotalCost() | number: "1.2-2" }}</p>
  <div class="singleProduct" *ngFor="let item of cartItems">
    <img src="{{ item.image }}" />
    <div class="item-details">
      <p id="name">{{ item.name }}</p>
      <p id="quantity">Quantity: {{ item.quantity }}</p>
      <p id="price">Price: ${{ (item.quantity * item.price).toFixed(2) }}</p>
    </div>
    <button class="removeButton" (click)="removeFromCart(item._id)">
      Remove
    </button>
  </div>
  <button id="checkout-button" (click)="makePayment(getTotalCost())">
    Checkout
  </button>
</div>

<ng-template #emptyCart>
  <p class="empty-cart">Your cart is empty or could not be loaded.</p>
</ng-template>
